.AppList {
  margin: 0 10px;
  padding: 13px;
  width: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 15px 0px;
  border-radius: 15px;
  justify-content: center;
}

.AppList h2 {
  color: black;
  margin-bottom: 16px;
}

.AppList li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  text-align: left;
  margin-top: 5px;
}

.icon_image {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 30px;
}

.list_content {
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 2;
  font-size: 12px;
}

.app_list_button div {
  margin-left: 10px;
  margin-top: 4px;
}
