@font-face {
  font-family: 'PretendardSemiBold';
  src: url('./font/Pretendard-SemiBold.otf') format('opentype');
}

* {
  font-family: 'PretendardSemiBold';
}

.App {
  font-family: 'PretendardSemiBold';
  text-align: center;
}

html,
body {
  margin: 0px;
  padding: 0px 10px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
}
